body
{
margin: 0;
padding: 0;
}
.container
{
    column-count: 3;
    text-align: justify;
    font-family:Times New Roman;
    font-size: 18px;
}
.container p:first-of-type::first-letter
{
    font-size: 5em;
    float: left;
    line-height: 50%;
    margin: 0.1em 0.1em 0.1em;
}
.container img
{
    height: auto;
    width:80% ;
    margin-left: 10%;
}